* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.home-container {
    display: grid;
    place-content: center;

    width: 100vw;
    height: 100vh;
}

.home-container > h1 {
    margin-bottom: 2rem;
    text-align: center;
}

ul.cards {
    list-style: none;

    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
}

ul.cards > li {
    width: 15rem;
    height: 20rem;

    border-radius: 0.5rem;
    padding: 1rem;

    display: grid;
    text-align: center;
    place-content: center;
    gap: 1rem;

    background-color: white;
    box-shadow: 0 0 2rem 0rem #ddddee;
}

ul.cards > li > svg {
    width: 10rem;
    height: 10rem;
}

ul.cards > li > a {
    text-decoration: none;
    color: black;
}

.controls {
    --offset-x: 0rem;
    --offset-y: 0rem;

    --el-w: 21.5rem;
    --el-h: 14rem;

    position: fixed;
    bottom: max(min(1rem + var(--offset-y), 100vh - 1rem - var(--el-h)), 1rem);
    right: max(min(1rem + var(--offset-x), 100vw - 1rem - var(--el-w)), 1rem);

    display: grid;
    gap: 0.5rem;

    background-color: #4b5487;
    padding: 1rem;

    border-radius: 0.5rem;

    transition:
        width 250ms ease-out,
        height 250ms ease-out,
        gap 250ms ease-out,
        border-radius 250ms ease-out;

    overflow: hidden;

    touch-action: none;
}

.controls > .input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
}

.controls > .input-wrapper > label {
    user-select: none;
    color: white;
}

.controls > .input-wrapper > select {
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
}

.controls > .input-wrapper > .choice-controls-input + .choice-controls-label {
    cursor: pointer;
}
.controls
    > .input-wrapper
    > .choice-controls-input
    + .choice-controls-label
    button {
    opacity: 0.5;
    pointer-events: none;
    width: 100%;
    padding: 0.5rem;
    background-color: #5e72ad;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.controls
    > .input-wrapper
    > .choice-controls-input:checked
    + .choice-controls-label
    button {
    opacity: 1;
}

.controls > .action-btn {
    justify-self: end;

    display: grid;
    place-content: center;

    cursor: pointer;

    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 100%;

    transform-origin: center;
    transform: rotate(45deg);

    background-color: transparent;
    color: white;

    transition: transform 250ms ease-out;
}

.controls > .action-btn::before {
    content: "+";
}

#controls-toggle:checked + .controls {
    --el-w: 4rem;
    --el-h: 4rem;

    gap: 0;
    border-radius: 100%;
}

#controls-toggle + .controls > .input-wrapper {
    max-height: 100%;
    overflow: hidden;
    transition: width 250ms ease-out;
}

#controls-toggle:checked + .controls > .input-wrapper {
    width: 0px;
    max-height: 0px;
}

#controls-toggle:checked + .controls > .action-btn {
    display: grid;
    transform: rotate(0deg);
}

#controls-toggle:checked + .controls > .action-btn::before {
    content: "o";
}

#clear-portal-btn {
    cursor: pointer;
    grid-column: 1 / span 2;
    width: 100%;
    padding: 0.5rem;
    background-color: #5e72ad;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

#cv-ball {
    touch-action: none;
}

#cv-optic {
    --input-scaling: 50px;
    --origin-x: 50vw;
    --origin-y: 50vh;
    background: linear-gradient(to right, transparent 98%, lightgray 98%),
        linear-gradient(to bottom, transparent 98%, lightgray 98%);
    background-size: var(--input-scaling) var(--input-scaling);
    background-position: var(--origin-x) var(--origin-y);

    touch-action: none;
}

.home-btn {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;

    background-color: #4b5487;
    color: white;
    text-decoration: none;

    width: 3rem;
    height: 3rem;
    padding: 0.1rem;
    border-radius: 0.5rem;

    display: grid;
    place-content: center;
}

.home-btn > svg {
    width: 1.5rem;
}

.home-wrapper {
    width: 100vw;
    height: 100vh;

    display: grid;
}

.toolbar {
    list-style: none;

    position: fixed;
    top: 0;
    left: 0;

    width: max-content;
    height: 100vh;
    padding: 0.5rem;
    padding-top: calc(4rem);

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 3rem;
    gap: 0.5rem;

    pointer-events: none;
}

.toolbar > li > label {
    display: block;

    pointer-events: visiblefill;
}

.toolbar > li button {
    display: grid;
    place-content: center;

    width: 3rem;
    height: 3rem;
    padding: 0.1rem;
    border-radius: 0.5rem;

    border: none;

    background-color: #4b5487;
    color: white;

    pointer-events: visiblefill;
}

.toolbar > li > label[for="play"] > button {
    pointer-events: none;
}

.toolbar > li button > svg {
    width: 1.5rem;
    height: 1.5rem;
}

.toolbar > li > input[type="checkbox"] + label > #play-btn {
    display: grid;
}
.toolbar > li > input[type="checkbox"] + label > #pause-btn {
    display: none;
}
.toolbar > li > input[type="checkbox"]:checked + label > #play-btn {
    display: none;
}
.toolbar > li > input[type="checkbox"]:checked + label > #pause-btn {
    display: grid;
}

#remove-btn {
    background-color: var(--bcolor, #4b5487);
}

#ball-main .controls label {
    color: white;
}

#controls-toggle + .controls > .control-form {
    max-height: 100%;
    overflow: hidden;
    transition: width 250ms ease-out;
}

#controls-toggle:checked + .controls > .control-form {
    width: 0px;
    max-height: 0px;
}

#gravity,
#restitution {
    display: block;
    width: 100%;
}

#vmode {
    display: block;
    border: 0.1rem solid black;

    background-color: white;
    color: black;

    font-size: 1rem;
    padding: 0.5rem;

    width: 17.5rem;

    border-radius: 0.25rem;

    margin-bottom: 0.5rem;

    pointer-events: visiblefill;
}

#velx,
#vely,
#vela,
#vell {
    display: block;
    border: 0.1rem solid var(--bcolor, black);

    color: var(--bcolor, black);

    font-size: 1rem;
    padding: 0.5rem;

    width: 17.5rem;

    border-radius: 0.25rem;

    margin-bottom: 0.5rem;

    pointer-events: fill;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf")
        format("ttf supports variations")
        url("Montserrat-VariableFont_wght.ttf") format("ttf-variations");
    font-weight: 100 900;
}

@media screen and (max-width: 560px) {
    ul.cards {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 420px) {
    .controls * {
        font-size: 0.75rem;
    }
}
